{% extends "base.html" %}
{% load static %}

{% block script %}
    <script src="http://code.jquery.com/jquery-1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            
            $("#objective").click(function(){
            $('#details').load('{% static "templates/objectives.html" %}');
            });

        
            $("#who").click(function(){
            $('#details').load('{% static "templates/who.html" %}');
            });

            $("#how").click(function(){
            $('#details').load('{% static "templates/how.html" %}');
            });

            $("#guidelines").click(function(){
            $('#details').load('{% static "templates/guidelines.html" %}');
            });

            $("#goodies").click(function(){
            $('#details').load('{% static "templates/goodie.html" %}');
            });

            $("#disclaimer").click(function(){
            $('#details').load('{% static "templates/disclaimer.html" %}');
            });

            $("#faqs").click(function(){
            $('#details').load('{% static "templates/faq.html" %}');
            });

            $("#contact").click(function(){
            $('#details').load('{% static "templates/contactus.html" %}');
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="well span3" style="width:18%;margin-left:5px;">
        <div class="nav nav-list">
            <ul>
                <li><a id="objective" href="#objective"><strong>Objective</strong></a></li>
                <li><a id="who" href="#who-can-contribute"><strong>Who can contribute ?</strong></a></li>
                <li><a id="how" href="#how-to-contribute"><strong>How to contribute ?</strong></a></li>
                <li><a id="guidelines" href="#guidelines"><strong>Guidelines for Coding</strong></a></li>
                <li><a id="goodies" href="#goodies"><strong>Goodies</strong></a></li>
                <li><a id="disclaimer" href="#disclaimer"><strong>Disclaimer</strong></a></li>
                <li><a id="faqs" href="#faqs"><strong>FAQs</strong></a></li>
                <li><a id="contact" href="#contact"><strong>Contact</strong></a></li>
            </ul>
        </div>
    </div>
    <div class="well span9" id="details" style="float:right;width:74%;margin-left:5px;min-height:150px;">
        <p>The Textbook Companion activity aims to create a repository of reference material for Python by coding solved examples of standard engineering textbooks using Python. This activity intends to,</p>
         <ul>
             <li>Make individuals learn Python through a practical approach</li>
             <li>Provide a huge database of Companions as a learning resource</li>
             <li>To make it easy for users of such textbooks to start using Python.</li>
             <li>To improve the documentation available for Python</li>
        </ul>
    </div>
</div>
{% endblock %}
