{% extends "base.html" %}

{% block content %}
<center><h2> Books Under Progress </h2></center><br/>

    <table class="table table-bordered table-hover">
        <th>Sr #</th>
        <th>Book</th>
        {% for book in books_under_progress %}
        <tr>
            <td>
                {{ forloop.counter }}
            </td>
            <td>
                    <a href="{% url 'tbc:BookDetails' book.id %}">{{ book.title }} by {{ book.author }}</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
