{% extends "base.html" %}

{% block content %}
<center><h2> Books Under Progress </h2></center><br/>
<ol>
  <li>Computer Programming in C by V. Rajaram(EE Edition)
  <li>Advanced C programming by A. P. Godse & D. A. Godse(1st Edition)
  <li>Radar Engineering and Fundamentals of Navigational Aida by G. S. N. Raju(1st Edition)
  <li>Principles of Electronics by V. K. Mehta and Rohit Mehta(11th Edition)
  <li>Electronics Communication by Dennis Roddy and John Coolen (4th Edition)
  <li>Programming in C by Pradip Dey and Manas Ghosh(1st Edition)
  <li>Chemical Reactor analysis and applications for the practicing Engineer by Louis Theodore(1st Edition)
  <li>C for dummies by Dan Gookin(2nd Edition)
  <li>The complete reference Java 2 by Herbert Schildt(5th Edition)
  <li>Data Structures and Algorithms made easy by Narasimha Karumanchi(2nd Edition)
  <li>Fundamentals of Data Structures in C++ by Ellis Horowitz, Sartaj Sahni & Dinesh Mehta(2nd Edition)
  <li>Stength of materials - Mechanics of solids by Er R. K. Rajput(revised Edition)
  <li>Transport Processes and Unit Operations by C. J. Geankoplis(3rd Edition)
  <li>Modern Physics by B. L. Theraja(16th Edition)
  <li>Electrical and Electronic Principles and Technology by John Bird(3rd Edition)
  <li>Op-Amps and Linear Integrated circuit by S. Sharma(1st Edition)
  <li>Optical Fiber Communications Principles and practice by John M. Senior(3rd Edition)
  <li>Data structures through C in depth by S. K. Srivastava & Deepali Srivastava
  <li>Electric Power Transmission: System engineering and Design by Turan Gonen(2nd Edition)
  <li>Programming in C by R. Subburaj(1st Edition)
  <li>Radar Engineering and fundamentals of Navigational Aids by G. S. N. Raju(1st Edition)
  <li>Basic Electrical Engineering with numerical problems(Volume-1) by P. S. Dhogal(1st Edition)
  <li>Engineering thermodynamics by P. K. Nag(4th Edition)
  <li>Introduction to heat transfer by S. K. Som(1st Edition)
  <li>Electronic Devices and Circuits by K. L. Kishore(1st Edition)
  <li>Principles of Electronic Communication Systems by Louis E. Freznel(3rd Edition)
  <li>Thermodynamics: An Engineering approach by Michael A. boles & Yunus A. cengel(5th Edition)
  <li>Analog Electronics by U. A. Bakshi & A. P. Godse
  <li>Solid State Electronic Devices by Ben Streetman & sanjay Banerjee(EE Edition)
  <li>Digital Communications by S. Sharma(6th edition)
  <li>Fundamentals of Computing and Programming in C by V. Ramesh Babu, R. Samyuktha, M. Munirathnam
  <li>Aircraft Structures For Engineering Students (4th edition)
  <li>A First Course in Programming with C by T. Jeyapoovan (1st Edition)
  <li>Heat And Mass Transfer - A Practical Approach by Y. A. Cengel (3rd edition)
  <li>Thermodynamics BY K. M. Gupta (1st edition)
  <li>Applied physics by P. K. Palanisamy (8th edition)
  <li>Analysis and Design of Analog Integrated Circuits by Paul R. Gray, Paul J. Hurst, Stephen H. Lewis and Robert G. Meyer (5th edition)
  <li>Electronic Devices and Circuits by S.Salivahanan ,N.Suresh Kumar , A.Vallavaraj (2nd edition)
  <li>Electronic Instrumentation and Measurements by David A. Bell (2nd edition)
  <li>Mechanics of Materials by beer and johnston (6th edition)
  <li>Thermodynamics by C.P Arora (1st Edition)
  <li>Magnifying C by Arpita Goyal (1st Editon)
  <li>C Programming: A Modern Approach by K.N King (2nd Edition)
  <li>Fundamentals of Electrical Machines by M.A. Salam (2nd Editon)
  <li>Chemical Engineering-Fluid Flow,Heat Transfer And Mass Transfer Vol-1 by J. M. Coulson, J. F. Richardson, J. R. Backhurst And J. H. Harker (6th edition)
  <li>Elements Of Chemical Reaction Engineering by H. S. Fogler (3rd edition)
  <li>Programming in ANSI C by E. Balagurusamy (4th edition)
  <li>Fundamental of Internal Combustion Engine by H N Gupta (1st edition)
  <li>Optical Fiber Communication by Gerd Keiser (4th edition)
  <li>Thermodynamics by Obert (3rd edition)
  <li>Heat Transfer: Principles And Applications by B. K. Dutta (1st edition)
  <li>Thermodynamics for chemists by Glasstone & Samuel (8th edition)
  <li>Numerical Methods : With Programs in C (2nd Edition)
  <li>Linear Integrated circuits by D.Roy Choudhury and Shail B. Jain (4th edition)
  <li>Introduction To Chemical Engineering Thermodynamics by J. M. Smith, H. C. Van Ness And M. M. Abbott (6th edition)
  <li>Worked Examples In Engineering In Si Units, Volume III, Electrical Engineering by M. Bates (1st Edition)
  <li>Principles of Physics by P .V. Naik (2nd edition)
  <li>Thermodynamics by J. P. Holman (4th edition)
  <li>Statics And Strength Of Materials by I. J. Levinson
  <li>Teach yourself C++ by Herbert Schildt (3rd edition)
  <li>Turbomachinery Design And Theory by R. S. R. Gorla And A. A. Khan (1st edition)
  <li>Diffusion: Mass Transfer In Fluid Systems by E. L. Cussler (2nd edition)
  <li>Fluid Mechanics and Hydraulic Machines by B. K. Sarkar (1st Edition)
  <li>Fluid Mechanics by A. K. Choudhary and Om Prakash (2nd Edition)
  <li>Basic Engineering Thermodynamics by A. Venkatesh (1st edition)
  <li>Introduction To Fluid Mechanics by R. W. Fox And A. T. McDonald (5th edition)
  <li>Chemical Engineering Thermodynamics by T. E. Daubert (1st Edition)
  <li>Elements Of Heat Transfer by M. Jacob And G. A. Hawkins (3rd Edition)
  <li>Fluid Flow For The Practicing Chemical Engineer by J. P. Abulencia And L. Theodore (1st Edition)
  <li>Engineering Economics by R. Panneerselvam (1st Edition)
  <li>C Programming for the Absolute beginner Michael Vine (2nd Edition)
  <li>Modern Physics by Kenneth Krane (2nd edition)
  <li>Essentials of programming in C for Life Sciences by S. Parthasarathy (1st edition)
  <li>DC Machines and Synchronous Machines by U. A. Bakshi and M. V. Bakshi (1st Edition)
  <li>C: How to program by H.M. Deitel and P.J. Deitel (3rd edition)
  <li>Electric Machinery And Transformers by I. L. Kosow (2nd edition)
  <li>Data Structures using C by ISRD group (2nd edition)
  <li>Engineering Physics by Shyam Sing & Rajeev Singh (1st Edition)
  <li>Let Us C++ by Yashwant Kanetkar (2nd Edition)
  <li>Power Plant Engineering by P.K. Nag (3rd Edition)
  <li>Engineering Physics - I by G. SenthilKumar
  <li>Elements of Mechanical Engineering by N.M. Bhatt & J.R. Mehta (6th Edition)
  <li>Gas Dynamics & Jet Propulsion by P. Murugaperumal (1st Edition)
  <li>Internal Combustion Engines by H.B. Keswani (4th Edition)
  <li>Irrigation & Water Power Engineering by B.C. Punmia (16th Edition)
  <li>Fundamentals of Aerodynamic by J.D. Anderson Jr. (3rd Editon)
  <li>Thyristors Theory & Applications by R.K. Sugandhi & K.K. Sugandhi (2nd Edition)
  <li>Fundamentals Of Data Structure In C by S. Sahni , S. Anderson-freed And E. Horowitz (2nd edition)
  <li>Unix: Concepts And Applications by S. Das (4th edition)
  <li>Data Structures Using C And C++ by Y. Langsam, M. Augenstein And A. M. Tenenbaum
  <li>Teach Yourself C in 24 hours by Tony Zhang
  <li>Electronic Measurements and Instrumentation by R. K. Rajput (2nd edition)
  <li>Introduction to Thermal Systems Engineering: Thermodynamics, Fluid Mechanics, and Heat Transfer by Moran, Shapiro, Munson, Dewitt
  <li>Applied physics by Neeraj Mehta
  <li>Advance Semiconductor Devices by S. Sharma (1st edition)
  <li>Textbook Of Heat Transfer by S.P.Sukhatme (4th edition)
  <li>Modern Physics by B.L.Theraja (16th edition)
{% endblock %}
