{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h3>{{ book.title }}</h3></center>
<div class="row-fluid">
{% for image in images %}
    <div class ="module-list">
            <img src="{% static 'uploads/' %}{{ image.image }}">
            <center><p>{{ image.caption }}</p></center>
    </div>
{% endfor %}
</div>
<hr>
<ol>
{% for chapter in chapters %}
    <li><a href="{% url 'tbc:ConvertNotebook' chapter.notebook %}">{{ chapter.name }}</a></li>
{% endfor %}
</ol>
<hr>
<form action="/approve-book/{{ book.id }}" method="POST">
{% csrf_token %}
<select name=approve_notify>
    <option value=none>Select an Action</option>
    <option value="approve">Approve</option>
    <option value="notify">Notify Changes</option>
</select>
<input type=submit value=GO>
</form>
<table>
<tr><td>Author: &nbsp;&nbsp;<td>{{ book.author }}
<tr><td>Publisher: &nbsp;&nbsp;<td>{{ book.publisher_place }}
<tr><td>ISBN: &nbsp;&nbsp;<td>{{ book.isbn }}
<tr><td>Contributor: &nbsp;&nbsp;<td>{{ book.contributor.user.first_name }} {{ book.contributor.user.last_name }}
<tr><td>Email: &nbsp;&nbsp;<td>{{ book.contributor.user.email }}<br>
</table>
{% endblock %}
