{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row-fluid">
    <div class="span6">
        <u> Books without start and end time </u>
        <br \>
        <u> Books without any log available </u>
        <ol>
            {% for book in manual %}
                <li><a href="{% url 'tbc:edit_book' book.id %}"> {{ book.title }} </a> </li>
            {% endfor %}
        </ol>
        <br \>
        <u> Books with log available, so can be automated </u>
        <ol>
            {% for book in auto %}
                <li><a href="{% url 'tbc:edit_book' book.id %}"> {{ book.title }} </a> </li>
            {% endfor %}
        </ol>
    </div>
    <div class="span6">
        <u> Books with start and end time </u>
        <ol>
            {% for book in books_complete %}
                <li><a href="{% url 'tbc:edit_book' book.id %}"> {{ book.title }} </a></li>
            {% endfor %}
        </ol>
    </div>
</div>



{% endblock %}

