{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if book_review %}
<p>Book has been approved !</p>
{% endif %}
{% if mail_notify %}
<p>Successfully notified the required changes !</p>
{% endif %}
<center><h3>Books to be reviewed</h3></center>
<ol>
{% for book in books %}
    <li><a href="{% url 'tbc:BookReview' book.id %}">{{ book.title }} {{ book.edition }} Edition</a>
{% endfor %}
</ol>
<center><h3>Reviewed Books</h3></center>
<ol>
{% for book in approved_books %}
<li><a href="{% url 'tbc:BookReview' book.id %}">{{ book.title }} {{ book.edition }} Edition</a></li>
{% endfor %}
<ol>
{% endblock %}
