{% extends 'base.html' %}
{% load static %}
{% block content %}
<form action="/browse-books/" method=POST enctype="multipart/form-data">
{% csrf_token %}
<center><select name="category">
  <option value="computer science">Computer Science</option>
  <option value="chemical engg">Chemical Engg</option>
  <option value="aerospace engg">Aerospace Engg</option>
  <option value="electrical engg">Electrical Engg</option>
  <option value="thermodynamics">Thermodynamics</option>
  <option value="mechanical engg">Mechanical Engg</option>
  <option value="mathematics">Mathematics</option>
</select>
<input type=submit value=Search>
</form>
<div class="row-fluid">
    {% for item in items %}
        <div class ="module-list">
            <img src="{% static 'uploads/' %}{{ item.image.image }}">
            <center><a href="{% url 'tbc:BookDetails' item.book.id %}">{{ item.book.name }}</a></center>
        </div>
    {% endfor %}
    </div>
{% endblock %}
