{% extends 'base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
function submitCategory()
{
    document.forms.browseBooks.submit();
}
</script>

{% endblock %}

{% block content %}
<form name="browseBooks" action="/browse-books/" method=POST enctype="multipart/form-data">
{% csrf_token %}
<center><select name="category" id="category" onchange="submitCategory();">
  <option value="computer science">Computer Science</option>
  <option value="chemical engg">Chemical Engg</option>
  <option value="aerospace engg">Aerospace Engg</option>
  <option value="electrical engg">Electronics Engg</option>
  <option value="thermodynamics">Thermodynamics</option>
  <option value="mechanical engg">Mechanical Engg</option>
  <option value="mathematics">Mathematics</option>
</select>
<div class="row-fluid">
    {% for item in items %}
        <div class ="module-list">
            <a href="{% url 'tbc:BookDetails' item.book.id %}"><img src="{% static 'uploads/' %}{{ item.image.image }}"></a>
            <center><a href="{% url 'tbc:BookDetails' item.book.id %}">{{ item.book.title }}</a></center>
        </div>
    {% endfor %}
    </div>
<script>
document.getElementById('category').value = "{{ category }}";
</script>
{% endblock %}
