{% extends 'base.html' %}
{% load static %}

{% block script %}
<script type="text/javascript">
function submitCategory()
{
    document.forms.completedbooks.submit();
}
</script>
{% endblock %}

{% block content %}
    <center><h2> Completed Text Books </h2></center><br/>
    <center><h4>Select a Category</h4></center>
    <form name="completedbooks" action="/completed-books/" method=POST enctype="multipart/form-data">
    {% csrf_token %}
    <center><select name="category" id="category" onchange="submitCategory();">
      <option value="all">All</option>
      <option value="fluid mechanics">Fluid Mechanics</option>
      <option value="control systems">Control Theory & Control Systems</option>
      <option value="chemical engineering">Chemical Engineering</option>
      <option value="thermodynamics">Thermodynamics</option>
      <option value="mechanical engineering">Mechanical Engineering</option>
      <option value="signal processing">Signal Processing</option>
      <option value="digital communications">Digital Communications</option>
      <option value="electrical technology">Electrical Technology</option>
      <option value="maths & science">Mathematics & Pure Science</option>
      <option value="analog electronics">Analog Electronics</option>
      <option value="digital electronics">Digital Electronics</option>
      <option value="computer programming">Computer Programming</option>
      <option value="others">Others</option>
    </select>
    </form>
    </center>
    <ol>
        {% for book in completed_books %}
            <li><a href="{% url 'tbc:BookDetails' book.id %}">{{ book.title }} by {{ book.author }}</a></li>
        {% endfor %}
    </ol>

    <hr>

    <center><strong><p>Following completed books are in ".py" format & are to be converted to IPython notebooks. Will be made available soon.</p></strong></center>
    <ol>
        <li>Introduction to Probability Models, Sixth Edition - Sheldon M. Ross
        <li>Introduction to Flight by J.D. Anderson (6th Edition)
        <li>Elementary Principles of Chemical Processes by Richard M. Felder, Ronald W. Rosseau (3rd Edition)
        <li>Modern Compressible Flow with Historical Perspective by John D. Anderson (2nd Edition)
        <li>Fluid Mechanics by F.M. White (6th Edition)
        <li>A Textbook of Engineering Physics by M. S. Avadhanulu (9th Edition)
        <li>Introduction to thermodynamics & Heat transfer by David A. mooney(1st Edition)
        <li>Structural and Stress analysis by Dr. T. H. G. Megson(2nd Edition)
        <li>The C programming language by Brian W. Kernighan & Dennis M. Ritchie(2nd Edition)
        <li>An Introduction to the C Programming Language and Software design by Tim Bailey(1st Edition)
        <li>Elements of thermal Technology by John H. Seely(1st Edition)
        <li>Object Oriented Programming with C++ by E. Balagurusamy(4th Edition)
        <li>Programming in C by D. Ravichandran(1st Edition)
        <li>A first of C++ from here to there by Gary J. Bronson(3rd Edition)
        <li>Solid State Physics: Structure and Properties of materials by M. A. Wahab(2nd Edition)
        <li>Heat Transfer(in S.I. units) by J. P. Holman(9th Edition)
        <li>Op-Amps & Linear integrated circuits by Ramakant Gaykwad(4th Edition)
        <li>C++ for dummies by Stephen Randy Davis(5th Edition)
        <li>C by dissection: The essentials of C programming by Al Kelly & Ira Pohl(1st Edition)
    </ol>
<script>
    document.getElementById('category').value = "{{ category }}";
</script>
{% endblock %}
