{% extends 'base.html' %}
{% block content %}

{% if invalid_email %}
    <center>
        <div class="alert" style="width:400px;height:45px;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>Sorry ! The email address you entered is not registered on the 
            interface it seems. Please enter a valid email address.
            </p>
        </div>
    </center>
{% endif %}

<div id="content-wrap" style="max-width: 400px;">
<br><br>
    <center>Kindly feed in the email address you used for registration.</center>
    <hr>
    <form action="/forgot-password/" method=POST enctype="multipart/form-data">
    {% csrf_token %}
        <input type=text id="email" name="email" placeholder="Your Email">
        <input class="btn btn-primary" type=submit value=Submit>
    </form>
</div>
{% endblock %}
