{% extends 'base.html' %}

{% block script %}
<script>
function validate_content()
{
    no_notebooks = {{ no_notebooks }}.length;
    extension = document.getElementById("sample_notebook").value;
    extension = extension.split(".");
    if (extension == "" || name == "")
    {
        alert("Chapter name or file field is empty !");
        return false;
    }
    if(extension.slice(Math.max(extension.length - 1, 1)) == "ipynb")
        return true;
    else
        alert("Oops ! You can upload only Ipython Notebooks (.ipynb extension)");    
        return false;
    return true;
}
</script>
{% endblock %}

{% block content %}
<div id="content-wrap" style="max-width:600px;">
    <h5>You are uploading sample notebook for the book {{ proposal.accepted }} by {{ proposal.accepted.author }}</h5>
    <p>Only .ipynb files are acceptable</p>
    <form action="/submit-sample/{{ proposal.id }}" method=POST enctype="multipart/form-data" onSubmit="return validate_content();">
    {% csrf_token %}
        <input type=text id=ch_name name=ch_name placeholder="Name of the chapter you coded the solved example from">
        <input type=file id=sample_notebook name=sample_notebook>
    <br>
    <hr>
    <center><input class="btn btn-primary" type=submit value=submit></center>
    </form>
</div>
{% endblock %}
