{% extends 'base.html' %}
{% block content %}

{% if empty %}
    <center>
        <div class="alert" style="width:220px;height:23px;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>Passwords cannot be empty !</p>
        </div>
    </center>
{% endif %}


{% if no_match %}
    <center>
        <div class="alert" style="width:200px;height:23px;">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <p>Passwords did not match !</p>
        </div>
    </center>
{% endif %}


<div id="content-wrap" style="max-width: 400px;">
<center><h3>Update Password</h3></center>
<hr>
    <form action="/update-password/" method=POST enctype="multipart/form-data">
    {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-primary"type=submit value=Login>
    </form>
</div>
{% endblock %}
