{% extends 'base.html' %}
{% block content %}
<div id="content-wrap" style="max-width:600px;">
    <p>Upload chapters as individual IPython notebooks </p>
    <form action="/upload-content/" method=POST enctype="multipart/form-data">
    {% csrf_token %}
    {% for i in no_notebooks %}
        <input type=text name=chapter{{i}} placeholder="Chapter {{ forloop.counter }} name">
        <input type=file name=notebook{{i}}>
    {% endfor %}
    <br>
    <hr>
    <p>Upload 3 screenshots from any 3 random chapters and give proper captions</p>
    {% for i in no_images %}
    <input type=text name=caption{{i}} placeholder="Caption {{ forloop.counter }}">
    <input type=file name=image{{i}}>
    {% endfor %}
    <center><input class="btn btn-primary" type=submit value=submit></center>
    </form>
</div>
{% endblock %}
