<h4>Stage 1</h4>
<ul>
    <li>Anyone can contribute to the project.</li>
    <li>Contributor should visit the website to check the books that have already been selected by others and send proposals. This is to avoid multiple contributors working on same books
    <li>Contributor selects 3 appropriate textbooks and submits a proposal through mail
    <li>Reviewer will have a look at the proposed books, will select an appropriate book and allot to the contributor
    <li>Contributor will be notified to send sample codes for the allotted book (around 10 examples from random chapters) in form of IPython Notebook</li>
    <li><a href="http://nbviewer.IPython.org/url/tbc-python.fossee.in{% static 'uploads/' %}Sample.ipynb" target="_blank">Sample IPython Notebook</a> for your reference (see additional links for more details on IPython Notebook)</li>
    <li>Contributor sends the required solved examples (sample code) as mentioned earlier in form of IPython Notebook
    <li>Reviewer reviews the pilot examples and gives consent for further work
    <li>Contributor is provided a time period of 2 months to code all the solved examples of allotted book once the pilot examples are approved
</ul>
<h4>Stage 2</h4>
<ul>
    <li>Contributor is required to update the progress of the work if the reviewer request</li>
    <li>As soon as the contributor completes coding all the solved examples of the book, the final code should be submitted</li>
    <li>Note: each chapter of the textbook should be a separate IPython Notebook</li>
    <li>Thorough review will be done whenever content is submited &amp; the contributor will be notified for any changes, if required</li>
    <li>On completion of the entire book, the contributor will be notified for further proceedings</li>
</ul>
