<h4>Frequently Asked Questions</h4>
<p>
    <ul>
        <p>
            <li>
                When will I receive my Honorarium ?
                <br><b>Ans: </b>Honorarium would generally be processed within 45 days from the day we receive your forms. However, if you do not receive your money within 45 days of acknowledgement of forms received, please feel free to contact us & will be happy to assist you.
                <br>
            </li> 
        </p>
        <p>
            <li>
                What kind of books should not be proposed ?
                <br><b>Ans: </b>Textbooks on Algorithms. Textbooks that majorly have theorem/proof type problems, school level/junior   college textbooks, competitive exam books should not be proposed.
                <br>
            </li> 
        </p>
        <p>
            <li>
                If I am unable to finish within the time frame, can I continue ?
                <br><b>Ans: </b>In such cases, you are required to contact the reviewer as early as possible.<br>
            </li>
        </p>
        <p>
            <li>
                Is this only for Computer Science students and their textbooks?
                <br><b>Ans: </b>No! Any course that needs computational tasks to be performed, is under our purview.<br>
            </li>
        </p>
        <p>
            <li>
                I have no idea about Python? What should i do?
                <br><b>Ans: </b>You may visit <a href="http://python.fossee.in/spoken-tutorials/" target=_blank>this link</a>. Learning resources in the form of Spoken Tutorials are available for free usage.<br>
            </li>
        </p>
        <p>
            <li>
                I am a freshman. Can I be a part of this?
                <br><b>Ans: </b>Yes! The earlier you get hold of these tools, the better.<br>
            </li>
        </p>
        <p>
            <li>
                Which textbooks do we need to code?
                <br><b>Ans: </b>Any book that needs computational tasks.<br>
            </li>
        </p>
        <p>
            <li>Can the internship be cancelled once it is allotted ? 
            <br><b>Ans: </b>Yes. Refusal to meet the deadline and no response to reminder mails will result in cancellation of Internship. No partial payment will be made in such cases.<br>
            </li>
        </p>
        <p>
            <li>Can I work on more than one book simultaneously?
            <br><b>Ans: </b>No, a student cannot work on more than one book at the same time. Please note that working on 2 or more books simultaneously can result in rejection of either/both of the books.
<br>
            </li>
        </p>
        <p>
            <li>Can I refer to some codes as reference?
            <br><b>Ans: </b>Yes, the codes for completed books under TBC activity are available for free downloading . The codes can be referred if needed.
            </li>
        </p>
        <p>
            <li>Can I use some other computing package ?
            <br><b>Ans: </b>No proprietary packages should be used for creating TBC.<br>
            </li>
        </p>
        <p>
            <li>What about intellectual rights of the TBC?
            <br><b>Ans: </b>The copyrights for TBC will be handed to FOSSEE Project. The name of creator of TBC will be published along with the IPython Notebook. The Textbook Companions will be available for free downloading on the website.<br>
            </li>
        </p>
    </ul>
 </p>
