<p>
    <ul>
        <p>
            <li>
                What is the last date to finish my textbook?
                <br><b>Ans: </b>Time duration shall be provided by the reviewer.<br>
            </li> 
        </p>
        <p>
            <li>
                If I am unable to finish within the time frame, can I continue ?
                <br><b>Ans: </b>In such cases, you are required to contact the reviewer as early as possible. <br>
            </li>
        </p>
        <p>
            <li>
                Is this only for Computer Science students and their textbooks?
                <br><b>Ans: </b>No! Any course that needs computational tasks to be performed, is under our purview.<br>
            </li>
        </p>
        <p>
            <li>
                I want to convert only a few chapters. Is that OK?
                <br><b>Ans: </b>No, a contributor has to finish the entire textbook alloted to him/her.<br>
            </li>
        </p>
        <p>
            <li>
                I have no idea of any of the opensource tools mentioned. Is that OK?
                <br><b>Ans: </b>Absolutely, the whole idea is to spread the goodness of these tools. You can pick up the basics during an initial workshop and learn more as you go along.<br>
            </li>
        </p>
        <p>
            <li>
                Can I take a textbook from another department?
                <br><b>Ans: </b>Yes, surely you can.<br>
            </li>
        </p>
        <p>
            <li>
                I am a freshman. Can I be a part of this?
                <br><b>Ans: </b>Yeah! The earlier you get hold of these tools the better.<br>
            </li>
        </p>
        <p>
            <li>
                Which textbooks do we need to code?
                <br><b>Ans: </b>Any book that needs computational tasks.<br>
            </li>
        </p>
        <p>
            <li>Can I use C/C++ or Java?
            <br><b>Ans: </b>No, this activity strictly aims to promote use of Python.<br>
            </li>
        </p>
    </ul>
 </p>
