<h4>Guidelines for Coding</h4>
<ul>
    <li>Strictly use Python 2.7.X version for coding</li>
    <li>IPython Notebook version 1.1.0 should be used (which supports user input)</li>
    <li>Each chapter should be an individual IPython Notebook</li>
    <li>Do not copy problem statement from the Textbook in the code (write it in your own words)</li>
    <li>Round-off the final answers according to the textbook</li>
    <li>Do not use reference Figures/Diagrams given in the book anywhere in your code. All the outputs must be displayed in appropriate format (along with units mentioned)</li>
    <li>Appropriate comments should be put, which will make the code easily understandable. The comments should help in highlighting the flow of logic being used. For example, the equation like R = V/I can have comment as "Ohm's Law" along with it.</li>
    <li>All the plots must be named and have appropriate labels on its axes</li>
    <li>The symbols used in the code should be same as those being used in the textbook</li>
    <li>Check for using correct formulae while using in-built functions. (For example, the angles must be converted to degree (or radians) before calculating the sine or cosine etc.)</li>
</ul>
