<ul>
    <li>Strictly use Python 2.7.X version for coding
    <li>IPython Notebook version 1.1.0 or higher should be used (which supports user input)
    <li>Each chapter should be an individual IPython Notebook
    <li>A notebook should start with Chapter number followed by chapter name which should be in font size of ‘heading 1’ available in IPytho Notebook
    <li>The above point should be followed by a cell which consists of Example number and the page number which should be in font size of ‘heading 2’ available in IPytho Notebook
    <li>Same variables should be used in the codes as given in the textbook. In few cases, if this point doesn’t hold true, then the contributor may use any variable of his/her choice but an appropriate comment is necessary giving a description of the quantity.
    <li>Libraries must be imported in all examples. Import specific libraries only and avoid import *.
    <li>Round-off the final answers according to the textbook
    <li>All the calculations must be performed according to the textbook.
    <li>Do not use reference Figures/Diagrams given in the book anywhere in your code. All the outputs must be displayed in appropriate format (along with units mentioned).
    <li>Appropriate comments should be put, which will make the code easily understandable. The comments should help in highlighting the flow of logic being used. For example, the equation like R = V/I can have comment as "Ohm's Law" along with it.
    <li>All the plots must be named and have appropriate labels on its axes.
    <li>The plots/graphs should not open in a separate window; rather they should be a part of the output. A command ‘%pylab inline’ does the work.
    <li>The symbols used in the code should be same as those being used in the textbook
    <li>Check for using correct formulae while using in-built functions. (For example, the angles must be converted to degree (or radians) before calculating the sine or cosine etc.)
    <li>The codes should follow the naming convention as given below, for example, For chapter number 4, the file name must be chapter4.ipynb
    <li>The codes will not be approved if the naming convention is not followed as instructed.
    <li>If the textbook contains error in calculations/results, mention the same as a comment at the end.
    <li>Do not include problem statement/text from the book in the code.
    <li>All the outputs must be displayed in appropriate format (along with units mentioned).
    <li>Material of any kind (pdf of book or image of a certain page) will not be provided to the participant. It is the participant's responsibility to arrange for the same.
</ul>
