
<ol>
                       <li>Contributor selects 3 textbooks and can submit a proposal <a href="http://tbc-python.fossee.in/submit-aicte-proposal/">here</a> in the preferred order.</li>
                           <ul>
                                <li>Contributor is requested to visit the website and ensure that the books proposed have not been completed or undertaken by some other contributor. This is to avoid multiple contributors working on the same books.
                                   <ul>
                                         <li>List of <a href="http://tbc-python.fossee.in/completed-books/" target="_blank">Completed Books</a></li>
                                         <li>List of <a href="http://tbc-python.fossee.in/books-under-progress/" target="_blank">Books Under Progress</a></li>
                                   </ul>
                                </li>
                                <li>Please make sure that the book proposed has at least 60 examples.</li>
                                <li><b>Please note that no mentors are allowed under this internship.</b></li>
                           </ul>
                       <li>Reviewer will have a look at the proposed books, select an appropriate book and allot to the contributor. At this stage, the contributor will be asked to send sample examples i.e. solved examples from any one chapter as an IPython Notebook. Kindly 
                       refer to the <a href="http://tbc-python.fossee.in/sample-notebook/" target="_blank">Sample IPython Notebook.</a> Sample notebook can be submitted <a href="http://tbc-python.fossee.in/submit-sample/">here</a></li>
                       <li>Reviewer reviews the sample notebook and if not satisfied, the contributor will be notified to make necessary corrections and send the sample notebook again.</li>
                       <li>Once the reviewer is satisfied with the sample notebook, he/she will give a consent to the contributor to complete the book in 2 months.</li>
                       <li>The contributor can submit the codes for entire textbook <a href="http://tbc-python.fossee.in/confirm-book-details/">here</a></li>
                       <li>The entire submission will then be reviewed and the contributor will be notified about corrections, if required.</li>
                       <li>The contributor makes the necessary changes and submits codes again through the same link.</li>
                       <li>The review of the book will typically take approximately 25 working days to finish. Each time the codes are submitted, it will be queued up with other review requests and will result in subsequent delays. When no more corrections are required, the book is termed as completed and the contributor will be notified to fill the <a href="http://tbc-python.fossee.in/internship-forms/" target="_blank">Internship Forms</a></li>
