<ul>
    <li>You are required to learn Python/IPython</li>
        <ol>
            <li>You may refer <a href="http://ipython.org/install.html">this link</a> for IPython installation</li>
            <li>For learning Python/IPython you may refer the <a href="http://spoken-tutorial.org/tutorial-search/?search_foss=Python&search_language=English">spoken tutorials</a> available.
        </ol>
    <li>Submit book proposal
        <ol>
            <li>Log on <a href="http://tbc-python.fossee.in/">here</a>. If you do not have an account, please <a href="http://tbc-python.fossee.in/register/">create a new account</a> by filling all the required details. Note: The First Name and Last Name you fill will appear on your Python TBC certificate on successful completion.
            <li>Propose your preferred choice of books, using the <a href="http://tbc-python.fossee.in/submit-aicte-proposal/">proposal form</a>.
            <li>Ensure that the proposed books are not in <a href="http://tbc-python.fossee.in/completed-books/">Completed Books</a> or <a href="http://tbc-python.fossee.in/books-under-progress/">Books in Progress.</a>
        </ol>
    <li>Book proposal criteria and sample codes
        <ol>
            <li>Make sure that the <b>proposed book has at least 60 solved examples</b> which can be coded in Python.
            <li><b>Exclude theoretical examples</b> such as derivations or problems which have no scope of computation.
            <li>The examples must be intricate with proper usage of libraries and scientific tools and not just calculations. Please have a look at <a href="http://tbc-python.fossee.in/book-details/318/" target="_blank">this book</a>.
        </ol>    
    <li>Reviewer will review the proposed books & select the appropriate one. Contributor at this stage will be asked to <a href="http://tbc-python.fossee.in/submit-sample">submit sample IPython notebook</a> i.e. solved examples from any one chapter as an IPython Notebook. Kindly refer to the <a href="http://tbc-python.fossee.in/sample-notebook/" target="_blank">Sample IPython Notebook</a>.</a> Please follow proper naming conventions while uploading the sample notebook. Ex.: Chapter 4: Principles of Steady-State Heat Transfer.
    <li>Reviewer will review the sample notebook and if not satisfied, the contributor will be notified to make necessary corrections and send the sample notebook again.
        </ol>
    <li>Once sample notebook is approved, time period of 2 months will be given to code all the solved examples of the alloted textbook.
    <li>Once the contributor finishes coding all the solved examples of the book, the codes can be submitted <a href="http://tbc-python.fossee.in/confirm-book-details">here</a>. Please follow naming conventions while uploading the book. Ex.: Chapter 4: Principles of Steady-State Heat Transfer.
    <li>The review of the book will typically take approximately 45 days to finish & the contributor will be notified if there are any corrections required. Each time the codes are submitted, it will be queued up with other review requests and will result in subsequent delays. When no more corrections are required, the book is termed as completed and the contributor will be notified to fill the <a herf="http://tbc-python.fossee.in/internship-forms/">Internship Forms</a>
    <li>Duly filled internship forms have to be submitted at address mentioned here. Honorarium will be processed only after the forms are received.
    <li><b>Note: The Submit Book(OLD) is the link for only those contributors who had proposed books earlier through mail and now are uploading for publishing.</b>    
</ul>
